<% var data = { title: "Языковая школа Юнити | Официальный сайт", author:
"mathetes" }; %> <%=
_.template(require('./../includes/header2.html').default)(data) %>

<div class="container-fluid">
  
</div>
<div class="container-fluid content-wrapper">
  <div class="row slider-about">
    <%=
_.template(require('./../includes/slider_about.html').default)(data) %>
  </div>
  <div class="row">
    <h2>О языковой школе "Юнити"</h2>
    <div class="faq">
      <div class="faq-item">
          <input class="faq-input" type="checkbox" id="faq_01">
          <label class="faq-title" for="faq_01">Вопросы-ответы</label>
          <div class="faq-text">
            <h3>Как давно  существует ваша школа? Сколько лет школе?</h3>
              <p>Школа была зарегистрирована в 2001 году. Нам уже 20 J</p>
            <h3>Сколько лет длится  обучение?</h3>
              <p>Мы начинаем обучение с 6 лет и заканчиваем в 11 классе.  Это длительный процесс.</p>
              <p>Поэтому необходимо начинать учиться в раннем возрасте.</p>
              Программа разработана британскими специалистами и  охватывает несколько ступеней обучения: дошкольное, младшая школа, среднее  звено, и старшая школа. Каждая ступень подразделяется на несколько уровней. Чем  старше, тем сложнее. Обучение носит последовательный характер и постепенно  приводит к хорошим знаниям языка.</p>
            <h3>Что если ребенку  больше, чем 6 лет? </h3>
              <p>Можно прийти учиться в любом возрасте. Ребенок попадет в  группу по результатам тестирования соответственно своему возрасту и уровню.</p>
            <h3>Школа гарантирует  хорошее знание языка? Сможет ли человек научиться говорить свободно, занимаясь  в вашей школе? Когда это произойдет?</h3>
              <p>Мы обучаем разговорной речи, умению слушать и понимать.  Все обучение направлено на то, чтобы человек мог свободно пользоваться языком.  Но очень многое зависит от самого ученика, его   заинтересованности и вкладу в учебу. Если человек не выполняет домашнее  задание, не учит новые слова, то результаты будут не высокие.</p>
              <p>Родителям важно помнить, что свободное владение  английским языком это результат многолетнего труда. Невозможно подготовить к  сдаче ЕГЭ за два года. </p>
            <h3>Школа выдает  сертификат по окончании обучения?</h3>
              <p>Да. Школа имеет лицензию и поэтому имеет право выдавать  сертификат, в котором указывается, сколько времени занимался ученик и с каким  результатом закончил тот или иной уровень. </p>
            <h3>Сколько раз в  неделю и сколько человек в группе?</h3>
              <p>Два раза в неделю. Обычно урок длится полтора часа в  группе от 5 до 8 человек. Для младших школьников урок длится 60минут.  Занятия проводятся также и в малых группах:  по 2, 3, 4 человека.</p>
              <p>В заключении хочется сказать, что в школе работают  профессиональные преподаватели английского языка, которые отвечают за качество  образования. Мы с радостью передадим свои знания каждому ученику нашей  школы.</p>
              <p>Дополнительную информацию можно узнать по телефону:  8-913-934-3734</p>
          </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer container-fluid">
    <div class="row">
      <div class="col-12">
        <%= _.template(require('./../includes/footer.html').default)(data) %>
      </div>
    </div>
  </footer>
  </body>
  </html>