<% var data = { title: "Языковая школа Юнити| Наши достижения", author: "mathetes" }; %>
<%= _.template(require('./../includes/header2.html').default)(data) %>
<div class="container-fluid content-wrapper">
  <h1>Наши достижения</h1>
  <div class="row blocks">
      
        <div class="block col-sm-12 col-md-6">
          <h3>Результаты ЕГЭ</h3>
          <img src="/img/ege.jpg" alt="" class="achive_pics" />
          <div class="block__body">
            <h3>Результаты Единого Государственного Экзамена (ЕГЭ)</h3>
            <div>
              <ul>
                <li class="champions">Ведяпина Анна - 87</li>
                <li class="champions">Макушин Максим 84,</li>
                <li class="champions">Пискунова Алина 77,</li>
                <li class="champions">Братко Иван 83,</li>
                <li class="champions">Кузнецова Настя – 97</li>
                <li class="champions">Букарев Саша – 84</li>
                <li class="champions">Воронина Уля – 80</li>
                <li class="champions">Букарева Женя – 89</li>
                <li class="champions">Назаренкова Катя – 90</li>
                <li class="champions">Жулидова Настя – 97</li>
                <li class="champions">Пальчикова Даша – 97</li>
                <li class="champions">Рязанова Ирина – 89</li>
              </ul>
            </div>
          </div>
        </div><!-- .block -->
        
        <div class="block col-sm-12 col-md-6">
          <h3>Международные экзамены</h3>
          <img src="/img/zhermolenko.jpg" alt="" class="achive_pics" />
          <div class="block__body">
            <div class="">
              <h3>Международные экзамены</h3>
              <p>
                Уровень B2 – самодостаточное владение, продвинутый уровень:
              </p>
              <ul>
                <li>Фишер Влад (first class)</li>
                <li>Царева Саша</li>
                <li>Серегина Ольга</li>
                <li>Новоселов Артем</li>
                <li>Козлов Сергей (first class)</li>
              </ul>
        
              <p>Уровень С1 – профессиональное владение:</p>
              <ul>
                <li>Фишер Влад (first class)</li>
              </ul>
        
              <p>Уровень С2 – владение языком в совершенстве:</p>
              <ul>
                <li>Жермоленко Егор (first class)</li>
                <li>Фишер Влад (first class)</li>
              </ul>
            </div>
          </div>
        </div><!-- .block -->

        </div>
        <div class="row">
        <div class="block col-sm-12 col-md-6">
          <h3>Факультеты Ин.языков</h3>
          <img src="/img/fia.jpg" alt="" class="achive_pics" />
          <div class="block__body">
            <h3>Обучение в ВУЗах на факультетах иностранных языков и международных отношений:</h3>
            <div class="">
              <ul>
                <li>Царева Саша</li>
                <li>Галактионов Алексей</li>
                <li>Уточкин Сергей</li>
                <li>Бобоходжаева Яна</li>
                <li>Назаренкова Катя</li>
                <li>Воликова Юля</li>
              </ul>
            </div>
          </div>
        </div><!-- .block -->

        <div class="block col-sm-12 col-md-6">
          <h3>Зарубежные ВУЗы</h3>
          <img src="/img/international.jpg" alt="" class="achive_pics" />
          <div class="block__body">
            <h3>Обучение в зарубежных ВУЗах:</h3>
            <div class="">
              <ul>
                <li>Кузнецова Настя (Чехия)</li>
                <li>Пирожкова Света (Чехия)</li>
                <li>Галактионов Алексей (Бельгия)</li>
                <li>Самойлова Лиза (Чехия)</li>
                <li>Панов Филипп (Финляндия)</li>
                <li>Рязанова Ира (Англия)</li>
                <li>Букарева Евгения ( Шотландия)</li>
              </ul>
            </div>

          </div>
        </div><!-- .block -->  
  </div>

</div>
  <div>
    <div>
      <%= _.template(require('./../includes/footer.html').default)(data) %>
    </div>
  </div>

