<% var data = { title: "Языковая школа Юнити| Наши достижения", author: "mathetes" }; %>
<%= _.template(require('./../includes/header2.html').default)(data) %>
<div class="container-fluid content-wrapper">
  <h1>Наши достижения</h1>
  <div class="row>

  <h2 class="">Результаты ЕГЭ</h2>
  <div>
    <ul>
      <li class="champions">Ведяпина Анна - 87</li>
      <li class="champions">Макушин Максим 84,</li>
      <li class="champions">Пискунова Алина 77,</li>
      <li class="champions">Братко Иван 83,</li>
      <li class="champions">
        Кузнецова Настя – 97<img  class="achive_pics"
          src="/img/ege.jpg"
          alt="ege"
          style="float: right"
        />
      </li>
      <li class="champions">Букарев Саша – 84</li>
      <li class="champions">Воронина Уля – 80</li>
      <li class="champions">Букарева Женя – 89</li>
      <li class="champions">Назаренкова Катя – 90</li>
      <li class="champions">Жулидова Настя – 97</li>
      <li class="champions">Пальчикова Даша – 97</li>
      <li class="champions">Рязанова Ирина – 89</li>
    </ul>
  </div>

  <h2 class="">Международные экзамены</h2>
  <div>
    <div class="">
      <p>
        Уровень B2 – самодостаточное владение, продвинутый уровень:
        <img  class="achive_pics"
          src="/img/zhermolenko.jpg"
          alt="zhermolenko"
          width="538"
          height="760"
          style="margin: 20px; float: right"
        />
      </p>
      <ul>
        <li>Фишер Влад (first class)</li>
        <li>Царева Саша</li>
        <li>Серегина Ольга</li>
        <li>Новоселов Артем</li>
        <li>Козлов Сергей (first class)</li>
      </ul>

      <p>Уровень С1 – профессиональное владение:</p>
      <ul>
        <li>Фишер Влад (first class)</li>
      </ul>

      <p>Уровень С2 – владение языком в совершенстве:</p>
      <ul>
        <li>Жермоленко Егор (first class)</li>
        <li>Фишер Влад (first class)</li>
      </ul>
    </div>
  </div>

  <h2 class="">
    Обучение в ВУЗах на факультетах иностранных языков и международных отношений:
  </h2>
  <div>
    <div class="">
      <p><img  class="achive_pics" src="/img/fia.jpg" alt="fia" style="float: right" /></p>
      <ul>
        <li>Царева Саша</li>
        <li>Галактионов Алексей</li>
        <li>Уточкин Сергей</li>
        <li>Бобоходжаева Яна</li>
        <li>Назаренкова Катя</li>
        <li>Воликова Юля</li>
      </ul>
    </div>
  </div>

  <h2 class="">Обучение в зарубежных ВУЗах:</h2>
  <div>
    <div class="">
      <ul>
        <li>
          Кузнецова Настя (Чехия)<img  class="achive_pics"
            src="/img/international.jpg"
            alt="international"
            width="379"
            height="506"
            style="float: right"
          />
        </li>
        <li>Пирожкова Света (Чехия)</li>
        <li>Галактионов Алексей (Бельгия)</li>
        <li>Самойлова Лиза (Чехия)</li>
        <li>Панов Филипп (Финляндия)</li>
        <li>Рязанова Ира (Англия)</li>
        <li>&nbsp;Букарева Евгения ( Шотландия)</li>
      </ul>
    </div>
  </div>
</div>
</div>
  <div>
    <div>
      <%= _.template(require('./../includes/footer.html').default)(data) %>
    </div>
  </div>

