<% var data = { title: "Языковая школа Юнити | Официальный сайт", author:
"mathetes" }; %> <%=
_.template(require('./../includes/header2.html').default)(data) %>
<div class="container-fluid content-wrapper">
  <div class="row">
    <div class="col-md-6 col-sm-12 feedback-block">
      <h2 class="feedback-name">Александра Барсукова</h2>
      <img
        class="feedback-img"
        src="/img/feadback/barsukova.jpg"
        alt="Барсукова"
      />

      <h5 class="feedback-position">
        Редактор эфира интернет радио "Pure Wave"
      </h5>
      <p class="feedback-text">
        Обучалась в школе «Юнити» 8 лет. Занятия всегда интересные,
        интерактивные, весёлые. Даже когда получалось прийти на занятия с плохим
        настроением, уходила я оттуда всегда с отличным! Благодаря чудесным и
        высококвалифицированным преподавателям Евгении Анатольевне и Ирине
        Анатольевне уже в 10 классе я смогла попробовать себя в качестве
        переводчика, что, наверное, и определило моё будущее направление.
        Благодаря школе «Юнити» я без проблем окончила отделение Международных
        Отношений и Регионоведения в НГТУ, сдала ГОСы (в том числе на английском
        языке) на отлично. Большим плюсом является то, что директор школы
        «Юнити» всегда старается обеспечить своим ученикам практику говорения на
        английском языке с носителями языка, которых Ирина Анатольевна
        приглашает на занятия. Также хочется выразить огромную благодарность
        Евгении Анатольевне! Вы просто Supercalifragilisticexpialidocious!!!
        Благодаря вам сейчас я свободно владею английским языком!
      </p>
    </div>

    <div class="col-md-6 col-sm-12 feedback-block">
      <h2 class="feedback-name">Алексей Галактионов</h2>
      <img
        class="feedback-img"
        src="/img/feadback/galaktionov.jpg"
        alt="image"
      />

      <h5 class="feedback-position">Key Account Manager</h5>
      <p class="feedback-text">
        Языковая школа «Юнити» - это не просто учебное заведение, это место с
        потрясающей атмосферой дружелюбия и тяги к знаниям. Эта атмосфера
        создается прекрасными квалифицированным педагогами, которые знают свое
        дело и любят свою работу. За 7 увлекательных и продуктивных лет я
        получил отличный разговорный и письменный английский язык, что помогло
        мне достичь поставленные цели: поступить на лингвистический факультет и
        в дальнейшем получить работу в международной компании. Самое главное -
        это то что, педагоги в школе «Юнити» дали мне в полной мере раскрыть
        потенциал и полюбить английский язык. Я очень благодарен за то, что мне
        дали понять свой путь, и теперь я занимаюсь любимым делом. Сейчас я
        занимаю должность ведущего менеджера по работе с зарубежными клиентами в
        компании Magora Systems, которая предоставляет широкий спектр услуг в
        сфере IT. Командировки по всему миру, общение с клиентами со всех
        уголков света - всего этого бы не было не будь в моей жизни школы
        «Юнити».
      </p>
    </div>

    <div class="col-md-6 col-sm-12 feedback-block">
      <h2 class="feedback-name">Анастасия Жулидова</h2>
      <img class="feedback-img" src="/img/feadback/julidova.jpg" alt="image" />

      <h5 class="feedback-position">Студентка ТГУ</h5>
      <p class="feedback-text">
        Я прозанималась в школе «Юнити» 10 лет. Я очень благодарна родителям за
        то, что именно они посчитали нужным, чтобы я начала изучать языки. Ведь
        тогда я не могла и предположить, какое важное место в моей жизни будет
        занимать иностранный язык. Эти десять лет пролетели незаметно, и,
        благодаря правильным подходам преподавателей, процесс обучения для меня
        был увлекательным как в младшем возрасте, так и в старших классах школы.
        Преподаватели «Юнити» сумели привить интерес к изучению иностранных
        языков. На занятиях уделялось достаточно много времени как правилам и
        грамматике, так и умениям писать, говорить, слушать и понимать
        по-английски. Для тренировки разговорной речи проводились встречи с
        носителями языка. Занятия в школе «Юнити» помогли мне в 2012-13 уч. году
        получить высокий балл на ЕГЭ (97) и поступить в Томский государственный
        университет на отделение «Международных отношений». Благодаря отличной
        базе знаний, полученной мною в «Юнити», я успешно продолжаю обучение
        теперь уже в университете.
      </p>
    </div>

    <div class="col-md-6 col-sm-12 feedback-block">
      <h2 class="feedback-name">Анастасия Кузнецова</h2>
      <img class="feedback-img" src="/img/feadback/kuznecova.jpg" alt="image" />

      <h5 class="feedback-position">
        Генеральный директор дизайн-бюро интерьеров "Соль"
      </h5>
      <p class="feedback-text">
        Я занималась в школе «Юнити» с 11 до 16 лет, потому что уже тогда
        понимала, что объем знаний, который мне дают в гимназии, был
        недостаточен для свободного владения языком, для поступления в
        иностранный университет. В «Юнити» к каждому ученику всегда особое
        отношение, учителя небезразличны к результатам учеников. Благодаря этому
        я сдала ЕГЭ на 97 баллов, а когда переехала жить в Чехию, без труда
        поступила в университет и свободно общалась с одногруппниками. Огромное
        спасибо школе «Юнити» и отдельная благодарность Евгении Анатольевне. Она
        стала для меня не только любимым педагогом, но и близким человеком, с
        которым на протяжении вот уже 5 лет после выпуска поддерживаю теплые
        отношения.
      </p>
    </div>

    <div class="col-md-6 col-sm-12 feedback-block">
      <h2 class="feedback-name">Екатерина Назаренкова</h2>
      <img class="feedback-img" src="/img/feadback/nazarenko.jpg" alt="image" />

      <h5 class="feedback-position">Cтудентка ФИЯ НГПУ</h5>
      <p class="feedback-text">
        В «Юнити» я училась на протяжении 11 лет - с первого класса и до
        окончания школы. Для меня это гораздо больше, чем просто языковая школа,
        это то место, где мне, шестилетнему ребёнку не только привили любовь к
        языку, но и создали для меня такую атмосферу, что хотелось приходить
        туда снова и снова. Манера преподавания, дети-одногруппники, бесконечный
        юмор - всё это поглощает и не отпускает, если начинаешь отдаваться
        этому. В школе часто устраивают встречи с иностранцами. К нам приезжали
        и австралийцы, и американцы, а в конце курса обучения на протяжении
        всего учебного года английский в моей группе вёл преподаватель из
        Америки. Благодаря «Юнити», английский увлёк меня настолько, что, сдав
        ЕГЭ на 90 баллов, сейчас я уже студентка 3-го курса факультета
        иностранных языков НГПУ, чему очень рада. Школа даёт много возможностей
        для развития не только в языке, но и в целом как личности. Я училась у
        Юлии Александровны и Евгении Анатольевны, и, независимо от учителя,
        уроки были наполнены творчеством, разнообразием заданий, а главное
        юмором. Я очень люблю это место и очень ему благодарна.
      </p>
    </div>

    <div class="col-md-6 col-sm-12 feedback-block">
      <h2 class="feedback-name">Ирина Рязанова</h2>
      <img class="feedback-img" src="/img/feadback/ryazanova.jpg" alt="image" />

      <h5 class="feedback-position">Студентка колледжа Bellerbys College</h5>
      <p class="feedback-text">
        Я училась в школе «Юнити» в течение 6 лет, начав с 6 класса. По
        окончании школы я сдала ЕГЭ по английскому языку на 89 баллов. Сейчас я
        учусь в британском колледже Bellerbys College на программе A-level и
        готовлюсь к поступлению в английский университет. Оглядываясь назад, я
        понимаю, что обучение за границей не стало бы возможным для меня без
        знания языка на высоком уровне, которое я приобрела благодаря школе
        «Юнити». Когда я только приехала в колледж, мои преподаватели были
        приятно удивлены тому, как я говорю на английском, кто-то был уверен,
        что я уже прожила пару лет в Англии. Я также сдала международный экзамен
        по английскому языку IELTS на балл 8.5, что редко удаётся даже самим
        носителям языка. Мне помогли отличное знание грамматики и широкий
        словарный запас, на которые делается упор в «Юнити». На начальном этапе
        обучения очень важно грамотно выстроить «фундамент» из базовых знаний
        языка и затем совершенствовать их. В этом аспекте преподаватели школы
        «Юнити» - профессионалы. Кроме того, в «Юнити» также практикуется и
        говорение на английском, тогда как во многих других школах о нём
        попросту забывают, работая только по заданиям на грамматику. Всё вместе
        даёт серьёзную подготовку и возможность чувствовать себя уверенно, когда
        нужно применить свои знания.
      </p>
    </div>

    <div class="col-md-6 col-sm-12 feedback-block">
      <h2 class="feedback-name">Ольга Серегина</h2>
      <img class="feedback-img" src="/img/feadback/seregina.jpg" alt="image" />

      <h5 class="feedback-position">Врач МУЗ НЦРБ</h5>
      <p class="feedback-text">
        Изучение английского языка в школе «Юнити» уже стало неотъемлемой частью
        моей жизни. Изначальная цель была изучить язык для чтения литературы по
        специальности. Достигнув необходимого для меня уровня и сдав
        международный экзамен City&amp;Guilds International ESOL, поддерживаю
        его и совершенствую дальше. Теперь могу не только читать книги, но и
        общаться, вести переписку. Благодаря школе «Юнити» стали возможны
        самостоятельные путешествия в англоговорящие страны без помощи
        туристических фирм. Моя любимая учительница Евгения Анатольевна
        настоящий профессионал, который находит индивидуальный подход к каждому
        своему ученику. Она всегда чуткая, тактичная, дружелюбная, обладает
        прекрасным чувством юмора и всегда в хорошем настроении. Учиться у нее
        одно удовольствие! Год назад я отдала свою дочь (6 лет) в школу «Юнити»
        к Наталье Владимировне. Дочка очень довольна, каждое занятие для нее -
        это увлекательное путешествие-погружение в английский язык, и я рада,
        когда вижу ее успехи. Школа «Юнити» - это настоящий алмаз среди языковых
        школ.
      </p>
    </div>

    <div class="col-md-6 col-sm-12 feedback-block">
      <h2 class="feedback-name">Влад Фишер</h2>
      <img class="feedback-img" src="/img/feadback/fisher.jpg" alt="image" />

      <h5 class="feedback-position">Студент НГМУ</h5>
      <p class="feedback-text">
        Студент Новосибирского Государственного Медицинского Университета, 5
        курс. Обучался в школе 7 лет, занимался в небольшой группе. Занятия
        всегда интересные и разнообразные, направлены на разностороннее развитие
        языка - разговорная речь, восприятие речи на слух, грамматика, словарный
        запас, произношение... За время обучения поднял знание английского языка
        до свободного владения, что подтвердил успешной сдачей международного
        экзамена City&amp;Guilds International ESOL, уровень C2, first class
        (что, согласно Общеевропейским компетенциям владения иностранным языком,
        соответствует уровню владения языком в совершенстве), годом ранее также
        сдав уровень С1 (уровень профессионального владения). Огромное спасибо
        преподавателю Евгении Анатольевне за терпение и индивидуальный подход!
      </p>
    </div>
  </div>
</div>
<footer class="footer container-fluid">
  <div class="row">
    <div class="col-12">
      <%= _.template(require('./../includes/footer.html').default)(data) %>
    </div>
  </div>
</footer>
</body>
</html>