<% var data = { title: "Языковая школа Юнити | Официальный сайт", author:
"mathetes" }; %> <%=
_.template(require('./../includes/header2.html').default)(data) %>

<div class="container-fluid">
  
</div>
<div class="container-fluid content-wrapper">
  <div class="row">
  <h2>Сведения об образовательной организации</h2>
    <div class="faq">
      <div class="faq-item">
          <input class="faq-input" type="checkbox" id="faq_1">
          <label class="faq-title" for="faq_1">Основные сведения</label>
          <div class="faq-text">
            <p>Полное наименование образовательной организации: Частное  учреждение дополнительного образования языковая школа «Юнити».<br>
              Сокращенное наименование образовательной организации:  ЧУДО языковая школа «Юнити».</p>
            <p>Дата создания: 2001г.</p>
            <p>Учредитель:  Ирина  Анатольевна Царева.</p>
            <p>Адрес: 630501, Новосибирская область, Новосибирский  район, р.п. Краснообск, здание 75</p>
            <p>Режим работы:<br>
              Групповые занятия  два раза в неделю<br>
              1-2 классы два  раза в неделю по 60 минут<br>
              3-11 классы два  раза в неделю по 90 минут<br>
              Дошкольники – два  раза в неделю по 40 минут</p>
            <p>Расписание занятий: I смена: 8.30-13.30<br>
              II смена: 15.00-19.30<br>
              Расписание занятий составляется с учетом пожелания  учащихся и родителей несовершеннолетних учащихся и создания наиболее  благоприятного режима труда и отдыха.</p>
            <p>Телефон: директор   89139343734<br>
              e-mail: <a href="mailto:iruns@yandex.ru">iruns@yandex.ru</a><br>
              Образовательная  деятельность осуществляется по адресу:   р.п. Краснообск, здание 75</p>
            <p>Структурных подразделений нет.</p>
            <p><u>Структура и органы управления образовательной  организацией</u></p>
            <p>Управление ЧУДО языковой школой «Юнити» осуществляет  руководитель – директор, который действует от имени Учреждения без доверенности  и представляет его интересы на территории Российской Федерации и за ее  пределами.</p>
            <p>Коллегиальный орган управления - Педагогический совет</p>
          </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_2">
        <label class="faq-title" for="faq_2">Документы</label>
        <div class="faq-text">
          <p><a class="docs-link" href="/img/docs/Statute.pdf">Устав</a></p>
          <p><a class="docs-link" href="/img/docs/license14.jpg">Лицензия</a></p>
          <p><a class="docs-link" href="/img/docs/правила для учеников.pdf">Правила внутреннего трудового распорядка обучающихся</a></p>
          <p><a class="docs-link" href="/img/docs/InnerRules.pdf">Правила внутреннего распорядка сотрудников</a></p>
          <p><a class="docs-link" href="/img/docs/Отчет о самообследовании.pdf">Отчет о результатах самообследования</a></p>
          <p><a class="docs-link" href="/img/docs/regulation18.pdf">Предписание органов, осуществляющих государственный контроль в сфере образования</a></p>
          <p><a class="docs-link" href="/img/docs/Rules.pdf">Правила предоставления образовательных услуг</a></p>
          <p><a class="docs-link" href="/img/docs/режим занятий.pdf">Режим занятий обучающихся</a></p>
          <p><a class="docs-link" href="/img/docs/Provision.pdf">Формы, периодичность  и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся</a></p>
          <p><a class="docs-link" href="/img/docs/порядок и основания перевода, отчисления.pdf"> Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися и или родителями (законными представителями несовершеннолетних)</a></p>
          <p><a class="docs-link" href="/img/docs/Politic.pdf">Политика обработки персональных данных</a></p>
          <p><a class="docs-link" href="/img/docs/Порядок оформления отношений в Юнити.pdf">Договор о предоставлении образовательных услуг</a></p>
          
        </div>
      </div>
      <div class="faq-item">
          <input class="faq-input" type="checkbox" id="faq_3">
          <label class="faq-title" for="faq_3">Образование</label>
          <div class="faq-text">
            <p>Образовательная программа –  образовательная программа дополнительного  образования.</p>
            <p>Образовательная деятельность осуществляется за счет  платных образовательных услуг.</p>
            <p>Образование осуществляется на русском и английском  языках.</p>
            <p>Учебный предмет, предусмотренный образовательной  программой – английский язык.<br>
              <br>
              Формы обучения:   очная.</p>
            <p>Нормативный срок обучения: 1 уровень проходится за 72-212  академических часа.</p>
            <p>Срок действия аккредитации: аккредитация не  предусмотрена.</p>
            <p>Организация реализует дополнительные образовательные  программы в течение учебного года за исключением каникул. </p>
            <p>Организация строит образовательный процесс в соответствии  с индивидуальными учебными планами в группах (объединения учащихся одного  возраста и уровня).</p>
          </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_4">
        <label class="faq-title" for="faq_4">Образовательная программа</label>
        <div class="faq-text">
          <p>Частное  учреждение дополнительного образования языковая школа «Юнити» реализует образовательную  программу дополнительного  образования, в  соответствии с признанными международными стандартами обучения иностранным  языкам по многоуровневой системе, используя учебные и экзаменационные  материалы, разработанные ведущими языковыми службами, такими как Cambridge, Pearson и др.<br>
            Обучение  по британским учебно-методическим комплексам обосновано тем, что они позволяют  сдать экзамены международного класса и добиться  высоких результатов в овладении языком как средством общения.<br>
            Кроме того, реализуются познавательные,  воспитательные, развивающие цели, так как во время всего  образовательного процесса  происходит проникновение в культуру  изучаемого языка, что ведет к осознанию и пониманию ценностей другой культуры  и, в конечном итоге, к взаимопониманию между людьми. <br>
            Задачи,  которые ставит перед собой школа: <br>
            1.  обучить и совершенствовать знания по английскому языку<br>
            2.  развивать личностные качества, профессиональные возможности, деловые качества и  культурные ценности.</p>
          <p>Принятый  образовательный стандарт включает следующие уровни владения  языком (последующий уровень является итогом освоения предыдущего уровня):</p>
          <ul>
            <li> Beginners (начальный) - отсутствие   элементарных знаний предмета у впервые начавших изучать иностранный язык  (продолжительность освоения программы – 144 часа). </li>
            <li>Elementary (элементарный) - наличие представления об основах  грамматики и начальные навыки чтения, понимание простых предложений  (продолжительность – 144 часа). </li>
            <li>Pre-intermediate (начальный средний) - наличие навыков чтения и перевода,  элементарных навыков устной и письменной речи. Вынужден часто пользоваться  словарем (продолжительность- 212 часов). </li>
            <li>Intermediate (средний) - наличие навыков устной и письменной речи в  объеме бытового общения. В состоянии написать простое сочинение, но с трудом  пользуется сложными конструкциями ( продолжительность – 212  часов). </li>
            <li>Upper-intermediate (выше среднего) - наличие устойчивых навыков письменной и  устной речи в объеме основных тем, обсуждаемых в средствах массовой информации  и художественной литературе. Особые идиоматические  обороты и специализированная тематика все еще  представляет сложность (продолжительность – 212 часов). </li>
            <li>Advanced (высший) - наличие устойчивых навыков устной и письменной  речи, в том числе в специализированных областях знания (продолжительность -144  часа). </li>
            <p><a class="docs-link" href="/img/docs/Рабочая программа  1.pdf">Образовательная программа</a></p>
            <p><a class="docs-link" href="/img/docs/методическое пособие.pdf">Методическое noco6иe</a></p>
            <p><a class="docs-link" href="/img/docs/учебный план на  2020.pdf">Учебный план на 2020</a></p>
            <p><a class="docs-link" href="/img/docs/Календарный учебный график.pdf">Календрарный учебный график</a></p>
            
          </ul>
          <p>Количество учащихся в   стандартной группе 5-8 человек. В малой группе 2-4 человека.</p>
          <p>Численность обучающихся по образовательной программе  дополнительного образования: 61</p>
          <p><u>Образовательные стандарты</u><br>
            Учреждение не применяет государственные стандарты (ФГОС)  в образовательной программе.</p>
          <p><u>Руководство. Педагогический состав.</u></p>
          <p>Директор Ирина Анатольевна Царева <br>
            Телефон : 89139343734, iruns@yandex.ru</p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_5">
        <label class="faq-title" for="faq_5">Педагогический состав</label>
        <div class="faq-text">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-inverse" style="font-weight: bold;">
            <tr>
            <td valign="top">
            <p align="center">ФИО</p>
            </td>
            <td valign="top">
            <p align="center">Должность</p>
            </td>
            <td valign="top">
            <p align="center">Образование</p>
            </td>
            <td valign="top">
            <p align="center">Стаж</p>
            </td>
            <td valign="top">
            <p>Повышение квалификации</p>
            </td>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td valign="top">
            <p>Романова Евгения Анатольевна</p>
            </td>
            <td valign="top">
            <p align="center">преподаватель</p>
            </td>
            <td valign="top">
            <p align="center">высшее</p>
            </td>
            <td valign="top">
            <p align="center">24 года</p>
            </td>
            <td valign="top">
            <p align="center">декабрь 2020г.</p>
            </td>
            </tr>
            <tr>
            <td valign="top">
            <p>Зайцева Наталья Владимировна</p>
            </td>
            <td valign="top">
            <p>преподаватель</p>
            </td>
            <td valign="top">
            <p align="center">высшее</p>
            </td>
            <td valign="top">
            <p align="center">10 лет</p>
            </td>
            <td valign="top">
            <p align="center">июль 2017г.</p>
            </td>
            </tr>
            <tr>
            <td valign="top">
            <p>Бобкова Александра Владимировна</p>
            </td>
            <td valign="top">
            <p align="center">преподаватель</p>
            </td>
            <td valign="top">
            <p align="center">высшее</p>
            </td>
            <td valign="top">
            <p align="center">10 лет</p>
            </td>
            <td valign="top">
            <p align="center">январь 2021г.</p>
            </td>
            </tr>
            <tr>
            <td valign="top">
            <p>Рябошапко Оксана Владимировна</p>
            </td>
            <td valign="top">
            <p align="center">преподаватель</p>
            </td>
            <td valign="top">
            <p align="center">высшее</p>
            </td>
            <td valign="top">
            <p align="center">13 лет</p>
            </td>
            <td valign="top">
            <p align="center">январь 2021г.</p>
            </td>
            </tr>
            <tr>
            <td valign="top">
            <p>Царева Ирина Анатольевна</p>
            </td>
            <td valign="top">
            <p align="center">преподаватель</p>
            </td>
            <td valign="top">
            <p align="center">высшее</p>
            </td>
            <td valign="top">
            <p align="center">26 лет</p>
            </td>
            <td valign="top">
            <p align="center">январь 2021г.</p>
            </td>
            </tr>
            </tbody>
            </table>
            <p>Наличие общежития, интерната: нет<br>
              Трудоустройство выпускников не предусмотрено.<br>
              Наличие и условия предоставления обучающимся стипендий:  нет</p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_6">
        <label class="faq-title" for="faq_6">Материально-техническое обеспечение и оснащенность  образовательного процесса</label>
        <div class="faq-text">
          Договор аренды от 30.11.2020г.<u></u><br>
          Наличие оборудованных кабинетов – 3<br>
          Средства обучения: учебные пособия, диски, CD проигрыватели,  компьютеры, МФУ, наглядные пособия, смарт доски, видео проекторы <br>
          Доступ к информационно-коммуникационным системам имеется,  в том числе,  обеспечивается доступ  обучающихся к электронным образовательным ресурсам<br>
          Материально-техническое оснащение образовательного  процесса позволяет обеспечить реализацию заявленных программ в полном объеме, а  также обеспечить охрану здоровья обучающихся</p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_7">
        <label class="faq-title" for="faq_7">Платные образовательные услуги</label>
        <div class="faq-text">
          <p>Порядок оказания платных образовательных услуг  на основании договора о предоставлении платных  образовательных услуг.</p>
          <p><a class="docs-link" href="/img/docs/Contract.pdf">Договор о предоставлении образовательных услуг</a></p>
          <p><a class="docs-link" href="/img/docs/приказ о ценах.pdf">Приказ об утверждении стоимости обучения</a></p>
        </div>
      </div>

      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_10">
        <label class="faq-title" for="faq_10">Финансово-хозяйственная деятельность</label>
        <div class="faq-text">
          <table  class="table table-striped table-bordered table-hover">
            <tr>
              <td><p>За счет <br>
                ассигнований<br>
                федерального<br>
                бюджета</p></td>
              <td><p>За счет бюджета<br>
                Субъектов    Российской <br>
                Федерации</p></td>
              <td><p>За счет <br>
                местных<br>
                бюджетов</p></td>
              <td><p>За сет средств    физических лиц<br>
                по договорам об    образовании</p></td>
            </tr>
            <tr>
              <td ><p>0</p></td>
              <td ><p>0</p></td>
              <td ><p>0</p></td>
              <td ><p>58</p></td>
            </tr>
          </table>
          <p><a class="docs-link" href="/img/docs/Отчет о фин.деят. за 2020 г..pdf">Отчет о финансово-хозяйственной деятельности</a></p>
          <p><a class="docs-link" href="/img/docs/Бюджетная смета на 2021г..pdf">Бюджетная смета на 2021год </a></p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_8">
        <label class="faq-title" for="faq_8">Вакантные места для приема</label>
        <div class="faq-text">
          <p>Количество вакантных мест для приема за счет средств  физических и юридических лиц:</p>
          <table  class="table table-striped table-bordered table-hover">
            <tr>
              <td><br>
                Возрастной диапазон </td>
              <td><p>Количество мест</p></td>
            </tr>
            <tr>
              <td><p>7 лет-взрослые</p></td>
              <td><p>58</p></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_9">
        <label class="faq-title" for="faq_9">Доступная среда</label>
        <div class="faq-text">
          <p>Обеспечение беспрепятственного доступа в здание  образовательной организации инвалидов: пандус<br>
            Для инвалидов и лиц с ОВЗ обеспечивается гибкий подход в  режиме занятий и комфортных психологических условиях со стороны педагогического  коллектива.</p>
          <p><u>Международное сотрудничество</u><br>
            Учреждение не имеет заключенных договоров с иностранными  и международными организациями по вопросам образования и науки.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer container-fluid">
    <div class="row">
      <div class="col-12">
        <%= _.template(require('./../includes/footer.html').default)(data) %>
      </div>
    </div>
  </footer>
  </body>
  </html>