<% var data = { title: "Языковая школа Юнити | Официальный сайт", author:
"mathetes" }; %> <%=
_.template(require('./../includes/header2.html').default)(data) %>

<div class="container-fluid"></div>
<div class="container-fluid content-wrapper">
  <div class="row">
    <h2>Сведения об образовательной организации</h2>
    <div class="faq">
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_1" />
        <label class="faq-title" for="faq_1">Основные сведения</label>
        <div class="faq-text">
          <p>
            Полное наименование образовательной организации: Частное учреждение дополнительного образования языковая
            школа «Юнити».<br />Сокращенное наименование образовательной организации: ЧУДО языковая школа «Юнити».
          </p>
          <p>Дата создания: 2001г.</p>
          <p>Учредитель:  Ирина Анатольевна Царева.</p>
          <p>Адрес: 630501, Новосибирская область, Новосибирский район, р.п. Краснообск, здание 75</p>
          <p>
            Режим работы:<br />Групповые занятия два раза в неделю<br />1-2 классы два раза в неделю по 60 минут<br />3-11
            классы два раза в неделю по 90 минут<br />Дошкольники – два раза в неделю по 40 минут
          </p>
          <p>
            Расписание занятий: I смена: 8.30-13.30<br />II смена: 15.00-19.30<br />Расписание занятий составляется с
            учетом пожелания учащихся и родителей несовершеннолетних учащихся и создания наиболее благоприятного режима
            труда и отдыха.
          </p>
          <p>
            Телефон: директор  89139343734<br />e-mail: <a href="mailto:iruns@yandex.ru">iruns@yandex.ru</a
            ><br />Образовательная деятельность осуществляется по адресу:  р.п. Краснообск, здание 75
          </p>
          <p>Структурных подразделений нет.</p>
          <p><u>Структура и органы управления образовательной организацией</u></p>
          <p>
            Управление ЧУДО языковой школой «Юнити» осуществляет руководитель – директор, который действует от имени
            Учреждения без доверенности и представляет его интересы на территории Российской Федерации и за ее
            пределами.
          </p>
          <p>Коллегиальный орган управления - Педагогический совет</p>
          <p>
              <a class="docs-link" href="/img/docs/Положение об органах управления в Юнити.pdf">Положение об органах управления образовательным учреждением</a>
          </p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_2" /> <label class="faq-title" for="faq_2">Документы</label>
        <div class="faq-text">
          <p><a class="docs-link" href="/img/docs/Statute.pdf">Устав</a></p>
          <p><a class="docs-link" href="/img/docs/license14.jpg">Лицензия</a></p>
          <p>
            <a class="docs-link" href="/img/docs/правила для учеников.pdf"
              >Правила внутреннего трудового распорядка обучающихся</a
            >
          </p>
          <p><a class="docs-link" href="/img/docs/InnerRules.pdf">Правила внутреннего распорядка сотрудников</a></p>
          <p>
            <a class="docs-link" href="/img/docs/Отчет о самообследовании.pdf">Отчет о результатах самообследования</a>
          </p>
          <p>
            <a class="docs-link" href="/img/docs/regulation18.pdf"
              >Предписание органов, осуществляющих государственный контроль в сфере образования</a
            >
          </p>
          <p><a class="docs-link" href="/img/docs/Rules.pdf">Правила предоставления образовательных услуг</a></p>
          <p><a class="docs-link" href="/img/docs/режим занятий.pdf">Режим занятий обучающихся</a></p>
          <p>
            <a class="docs-link" href="/img/docs/Provision.pdf"
              >Формы, периодичность  и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся</a
            >
          </p>
          <p>
            <a class="docs-link" href="/img/docs/порядок и основания перевода, отчисления.pdf"
              >Порядок оформления возникновения, приостановления и прекращения отношений между образовательной
              организацией и обучающимися и или родителями (законными представителями несовершеннолетних)</a
            >
          </p>
          <p><a class="docs-link" href="/img/docs/Politic.pdf">Политика обработки персональных данных</a></p>
          <p>
            <a class="docs-link" href="/img/docs/Договор о предоставлении образовательных услуг.pdf"
              >Договор о предоставлении образовательных услуг</a
            >
          </p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_3" /> <label class="faq-title" for="faq_3">Образование</label>
        <div class="faq-text">
          <p>Лицензия на осуществление образовательной деятельности № 1018 от 14 февраля 2017</p>
          <p>Образовательная программа – образовательная программа дополнительного образования.</p>
          <p>Образовательная деятельность осуществляется за счет платных образовательных услуг.</p>
          <p>Образование осуществляется на русском и английском языках.</p>
          <p>
            Учебный предмет, предусмотренный образовательной программой – английский язык.<br /><br />Формы обучения: 
            очная.
          </p>
          <p>Нормативный срок обучения: 1 уровень проходится за 72-212 академических часа.</p>
          <p>Срок действия аккредитации: аккредитация не предусмотрена.</p>
          <p>
            Организация реализует дополнительные образовательные программы в течение учебного года за исключением
            каникул.
          </p>
          <p>
            Организация строит образовательный процесс в соответствии с индивидуальными учебными планами в группах
            (объединения учащихся одного возраста и уровня).
          </p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_4" />
        <label class="faq-title" for="faq_4">Образовательная программа</label>
        <div class="faq-text">
          <p>
            Частное учреждение дополнительного образования языковая школа «Юнити» реализует образовательную программу
            дополнительного  образования, в соответствии с признанными международными стандартами обучения иностранным
            языкам по многоуровневой системе, используя учебные и экзаменационные материалы, разработанные ведущими
            языковыми службами, такими как Cambridge, Pearson и др.<br />Обучение по британским учебно-методическим
            комплексам обосновано тем, что они позволяют сдать экзамены международного класса и добиться высоких
            результатов в овладении языком как средством общения.<br />Кроме того, реализуются познавательные,
            воспитательные, развивающие цели, так как во время всего  образовательного процесса  происходит
            проникновение в культуру изучаемого языка, что ведет к осознанию и пониманию ценностей другой культуры и, в
            конечном итоге, к взаимопониманию между людьми.<br />Задачи, которые ставит перед собой школа:<br />1.
            обучить и совершенствовать знания по английскому языку<br />2. развивать личностные качества,
            профессиональные возможности, деловые качества и культурные ценности.
          </p>
          <p>
            Принятый образовательный стандарт включает следующие уровни владения языком (последующий уровень является
            итогом освоения предыдущего уровня):
          </p>
          <ul>
            <li>
               Beginners (начальный) - отсутствие  элементарных знаний предмета у впервые начавших изучать иностранный
              язык (продолжительность освоения программы – 144 часа).
            </li>
            <li>
              Elementary (элементарный) - наличие представления об основах грамматики и начальные навыки чтения,
              понимание простых предложений  (продолжительность – 144 часа).
            </li>
            <li>
              Pre-intermediate (начальный средний) - наличие навыков чтения и перевода, элементарных навыков устной и
              письменной речи. Вынужден часто пользоваться словарем (продолжительность- 212 часов).
            </li>
            <li>
              Intermediate (средний) - наличие навыков устной и письменной речи в объеме бытового общения. В состоянии
              написать простое сочинение, но с трудом пользуется сложными конструкциями ( продолжительность – 212
              часов).
            </li>
            <li>
              Upper-intermediate (выше среднего) - наличие устойчивых навыков письменной и устной речи в объеме основных
              тем, обсуждаемых в средствах массовой информации и художественной литературе. Особые идиоматические 
              обороты и специализированная тематика все еще представляет сложность (продолжительность – 212 часов).
            </li>
            <li>
              Advanced (высший) - наличие устойчивых навыков устной и письменной речи, в том числе в специализированных
              областях знания (продолжительность -144 часа).
            </li>
            <p><a class="docs-link" href="/img/docs/Рабочая программа  1.pdf">Образовательная программа</a></p>
            <p><a class="docs-link" href="/img/docs/методическое пособие.pdf">Методическое noco6иe</a></p>
            <p><a class="docs-link" href="/img/docs/учебный план 2022.pdf">Учебный план на 2022</a></p>
            <p><a class="docs-link" href="/img/docs/Календарный учебный график.pdf">Календрарный учебный график</a></p>
          </ul>
          <p>Количество учащихся в  стандартной группе 5-8 человек. В малой группе 2-4 человека.</p>
          <p>Численность обучающихся по образовательной программе дополнительного образования: 61</p>
          <p>
            <u>Образовательные стандарты</u><br />Учреждение не применяет государственные стандарты (ФГОС) в
            образовательной программе.
          </p>
          <p><u>Руководство. Педагогический состав.</u></p>
          <p>Директор Ирина Анатольевна Царева<br />Телефон : 89139343734, iruns@yandex.ru</p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_5" />
        <label class="faq-title" for="faq_5">Руководство. Педагогический состав</label>
        <div class="faq-text">
          <table class="table table-striped table-bordered table-hover">
    <thead class="thead-inverse" style="font-weight: bold">
		<tr>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p><strong>ФИО</strong></p>
				<p><strong>должность</strong></p>
			</td>
			<td>
				<p><strong>Высшее и дополнительное образование</strong></p>
				<p>Квалификация, наименование направления подготовки и специальности</p>
			</td>
			<td>
				<p><strong>Стаж</strong></p>
				<p>Общий/педагогический</p>
			</td>
			</tr>
		</tr>
    </thead>
	<tbody>
	<tr>
	<td >
	<p>1.</p>
	</td>
	<td>
	<p><strong>Царева Ирина Анатольевна</strong></p>
	<p><strong>Директор</strong></p>
	<p>Преподаватель английского языка</p>
	</td>
	<td>
	<p>Новосибирский государственный педагогический институт, 1991</p>
	<p>Английский и немецкий языки</p>
	<p> </p>
	<p>Новосибирский институт повышения квалификации и переподготовки работников образования «Внутри школьный менеджмент», 2001</p>
	<p> </p>
	<p>TKT Lesson planning and use of resources for language teaching, 2017</p>
	<p>Lexical Lab, London «Методика обучения лексическому подходу», 2018</p>
	<p>ООО Магеллан, Конференция для владельцев и управляющих школами дополнительного образования по иностранным языкам, 2019</p>
	<p>ELT university seminars, 2023</p>
	</td>
	<td>
	<p>Свыше 30 лет</p>
	<p> </p>
	<p> </p>
	<p> </p>
	</td>
	</tr>
	<tr>
	<td >
	<p>2.</p>
	</td>
	<td>
	<p><strong>Романова Евгения Анатольевна</strong></p>
	<p>Преподаватель английского языка</p>
	</td>
	<td>
	<p>Новосибирский государственный педагогический институт, 1993</p>
	<p>Английский и немецкий языки</p>
	<p>Диплом с отличием</p>
	<p> </p>
	<p>Международный сертификат City&amp;Guilds, Advanced</p>
	<p>ООО Магеллан, Конференция для владельцев и управляющих школами дополнительного образования по иностранным языкам, 2019</p>
	<p>National Geographic learning seminars, 2019</p>
	<p>ELT university seminars, 2022</p>
	</td>
	<td>
	<p>29 л.8м.</p>
	</td>
	</tr>
	<tr>
	<td >
	<p>3.</p>
	</td>
	<td>
	<p><strong>Зайцева Наталья Владимировна</strong></p>
	<p>Преподаватель английского языка</p>
	</td>
	<td>
	<p>Новосибирский Государственный технический университет, 2004</p>
	<p>Международные отношения</p>
	<p> </p>
	<p>Новосибирский государственный педагогический университет, 2010</p>
	<p>Иностранный (английский) язык</p>
	<p>Учебный центр дополнительного профессионального образования «Прогресс» «Организация деятельности педагога дополнительного образования», 2018</p>
	<p>TKT Lesson planning and use of resources for language teaching, 2017</p>
	<p>TKT Young learners, 2018</p>
	<p>Macmillan Education seminars, 2022</p>
	<p> </p>
	</td>
	<td>
	<p>19л.8м.</p>
	<p>14л.7м.</p>
	</td>
	</tr>
	<tr>
	<td >
	<p>4.</p>
	</td>
	<td>
	<p><strong>Рябошапко Оксана Владимировна</strong></p>
	<p>Преподаватель английского языка</p>
	</td>
	<td>
	<p>Барнаульский государственный педагогический университет, 2001</p>
	<p>Филология, учитель английского и немецкого языков</p>
	<p>Диплом с отличием</p>
	<p> </p>
	<p>TKT Lesson planning and use of resources for language teaching, 2014</p>
	<p>Центр инновационного образования и воспитания «Педагог дополнительного образования», 2021</p>
	<p>Новосибирский институт повышения квалификации и переподготовки работников образования, семинар, 2022</p>
	<p>ООО «Дом знаний» Использование инновационных подходов в преподавании иностранных языков, 2023</p>
	</td>
	<td>
	<p>22 года</p>
	</td>
	</tr>
	<tr>
	<td >
	<p>5.</p>
	</td>
	<td>
	<p><strong>Барсукова Александра Алексеевна</strong></p>
	<p>Преподаватель английского языка</p>
	</td>
	<td>
	<p>Новосибирский государственный технический университет, 2011</p>
	<p>Регионоведение (Страны Европы)</p>
	<p> </p>
	<p>АНО дополнительного профессионального образования «Гуманитарно-технический университет» Теория и методика преподавания английского языка, 2022</p>
	<p>Квалификация Учитель английского языка»</p>
	<p> </p>
	<p>«Прогресс» «Организация деятельности педагога дополнительного образования», 2018</p>
	<p>Pearson Autumn school online конференция с участием международных специалистов в сфере ELT, 2018</p>
	</td>
	<td>
	<p>10 лет</p>
	<p>3года</p>
	</td>
	</tr>
	</tbody>
</table>
          <p>
            Наличие общежития, интерната: нет<br />Трудоустройство выпускников не предусмотрено.<br />Наличие и условия
            предоставления обучающимся стипендий: нет
          </p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_6" />
        <label class="faq-title" for="faq_6"
          >Материально-техническое обеспечение и оснащенность образовательного процесса</label
        >
        <div class="faq-text">
          Договор аренды от 01.09.2022г.<u></u><br />Наличие оборудованных кабинетов – 3<br />Средства обучения: учебные
          пособия, диски, CD проигрыватели, компьютеры, МФУ, наглядные пособия, смарт доски, видео проекторы<br />Доступ
          к информационно-коммуникационным системам имеется, в том числе,  обеспечивается доступ обучающихся к
          электронным образовательным ресурсам<br />Материально-техническое оснащение образовательного процесса
          позволяет обеспечить реализацию заявленных программ в полном объеме, а также обеспечить охрану здоровья
          обучающихся
          <p></p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_7" />
        <label class="faq-title" for="faq_7">Платные образовательные услуги</label>
        <div class="faq-text">
          <p>
            Порядок оказания платных образовательных услуг  на основании договора о предоставлении платных
            образовательных услуг.
          </p>
          <p><a class="docs-link" href="/img/docs/Договор о предоставлении образовательных услуг.pdf">Договор о предоставлении образовательных услуг</a></p>
          <p><a class="docs-link" href="/img/docs/приказ о ценах.pdf">Приказ об утверждении стоимости обучения</a></p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_10" />
        <label class="faq-title" for="faq_10">Финансово-хозяйственная деятельность</label>
        <div class="faq-text">
          <table class="table table-striped table-bordered table-hover">
            <tr>
              <td>
                <p>За счет<br />ассигнований<br />федерального<br />бюджета</p>
              </td>
              <td>
                <p>За счет бюджета<br />Субъектов Российской<br />Федерации</p>
              </td>
              <td>
                <p>За счет<br />местных<br />бюджетов</p>
              </td>
              <td>
                <p>За сет средств физических лиц<br />по договорам об образовании</p>
              </td>
            </tr>
            <tr>
              <td><p>0</p></td>
              <td><p>0</p></td>
              <td><p>0</p></td>
              <td><p>61</p></td>
            </tr>
          </table>
          <p>
            <a class="docs-link" href="/img/docs/Отчет о фин.деят. за 2022 г..pdf"
              >Отчет о финансово-хозяйственной деятельности</a
            >
          </p>
          <p><a class="docs-link" href="/img/docs/Бюджетная смета на 2023г..pdf">Бюджетная смета на 2023год</a></p>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_8" />
        <label class="faq-title" for="faq_8">Вакантные места для приема</label>
        <div class="faq-text">
          <p>Количество вакантных мест для приема за счет средств физических и юридических лиц:</p>
          <table class="table table-striped table-bordered table-hover">
            <tr>
              <td><br />Возрастной диапазон</td>
              <td><p>Количество мест</p></td>
            </tr>
            <tr>
              <td><p>7 лет-взрослые</p></td>
              <td><p>58</p></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="faq-item">
        <input class="faq-input" type="checkbox" id="faq_9" />
        <label class="faq-title" for="faq_9">Доступная среда</label>
        <div class="faq-text">
          <p>
            Обеспечение беспрепятственного доступа в здание образовательной организации инвалидов: пандус<br />Для
            инвалидов и лиц с ОВЗ обеспечивается гибкий подход в режиме занятий и комфортных психологических условиях со
            стороны педагогического коллектива.
          </p>
          <p>
            <u>Международное сотрудничество</u><br />Учреждение не имеет заключенных договоров с иностранными и
            международными организациями по вопросам образования и науки.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer container-fluid">
    <div class="row">
      <div class="col-12">
        <%= _.template(require('./../includes/footer.html').default)(data) %>
      </div>
    </div>
  </footer>
  </body>
  </html>