<% var data = { title: "Языковая школа Юнити | Официальный сайт", author:
"mathetes" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container-fluid content-wrapper">
  <div class="row">
    <ul>
      <h2>Программа для подростков 10-13 лет</h2>
      <li>Особенности обучения </li>
    </ul>
    <p>Содержание программы обучения направлено на развитие способностей  для общения на иностранном языке. Программа позволяет развивать у детей умение  слушать и понимать иноязычную речь, общаться на заданную тему, а также  развивает память, внимание, мышление, воображение ребенка.</p>
    <ul>
      <li>Как проходит обучение </li>
    </ul>
    <p>Ученики работают над произношением, изучают много слов и  выражений в контексте, смотрят и обсуждают короткие  видеоролики, играют в ролевые игры, учатся писать  письма, выражать свое мнение.</p>
    <ul>
      <li>Книги курса </li>
    </ul>
    <p> Go Getter1 и Today Starter/Today1 для начинающих изучать язык, Super Minds 3,4,5 и Choices Elementary, Wider World 3 – для  продолжающих </p>
    <ul>
      <li>Длительность обучения, расписание </li>
    </ul>
    <p>Длительность обучения охватывает от 3х до 5 ступеней, в  зависимости от исходного уровня знаний. На освоение каждой ступени уходит  учебный год. Занятия два раза в неделю по 90 минут. Расписание  составляется с учетом смены в основной школе и других дополнительных занятий. С  8.30 до 12.45 или с 15.30 до 18.30 </p>
    <ul>
      <li>Результаты обучения:  </li>
    </ul>
    <p>В  результате продуктивной работы по окончании базового уровня (10-14 лет) у  подростков закладываются основы успешной коммуникации на иностранном языке,  дети начинают излагать свои мысли в письменной, а также в устной форме,  тренируется навык восприятия английской речи на слух, совершенствуется  произношение, а также расширяются лексические и грамматические знания. </p>
    <ul>
      <li>Speaking: умение начинать, поддерживать  и заканчивать диалог в стандартных ситуациях, при необходимости переспрашивать,  уточняя; высказывать свое мнение, задавать вопросы и отвечать на них; отвечать  на предложение собеседника согласием/отказом; рассказывать о себе, своих  интересах, планах на будущее, сообщать о своем городе, селе, стране, странах  изучаемого языка, описывать события, явления, передавать основную мысль  прочитанного, услышанного и свое отношение к этому. </li>
      <li>Лексические темы:  семья, спорт, увлечения, школа, чувства, животные, еда, поход в кафе, здоровая  еда, праздники, дом, одежда, погода, приключения, опасные ситуации, музыка,  география, страны, места в городе, транспорт, технология, устройства, интернет,  космос, звезды.</li>
      <li>Listening: умение воспринимать на слух  и понимать речь учителя, одноклассников, а также, основное содержание несложных  аутентичных текстов, аудио и видео. Воспринимать на слух и понимать с опорой на  языковую догадку, выделяя значимую/нужную/необходимую информацию.</li>
      <li>Reading: умение читать тексты разных  жанров и стилей преимущественно с пониманием основного содержания, опираясь на  языковую догадку/выборочного перевода, а также, с пониманием  значимой/нужной/интересующей информации.</li>
      <li>Writing: умение составлять небольшие  рассказы, писать поздравления и личные письма с опорой на образец, с  употреблением формул речевого этикета, принятых в стране изучаемого языка,  заполнять анкеты/формуляры, применять правила написания слов.</li>
      <li>Grammar: времена простые, продолженные,  перфектные, правильные и неправильные глаголы, вопросительные предложения,  притяжательные местоимения, указательные местоимения, оборот there is/are, going to для выражения  намерения, модальные глаголы, сравнительные степени прилагательных,  относительные местоимения, сложносочиненные предложения, нулевое/первое условное  предложение, пассивный залог настоящего временя.</li>
    </ul>    
</div>
</div>
<footer class="footer container-fluid">
    <div class="row">
      <div class="col-12">
        <%= _.template(require('./../includes/footer.html').default)(data) %>
      </div>
    </div>
  </footer>
  </body>
  </html>