<% var data = { title: "Языковая школа Юнити | Официальный сайт", author:
"mathetes" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container-fluid content-wrapper">
  <div class="row">
    <h2>Программа для подростков 14-17 лет</h2>
    <ul>
      <li>Особенности обучения </li>
    </ul>
    <p>Учащиеся данного возраста характеризуются большой  мотивацией, что позволяет им эффективно усваивать более сложные навыки общения  на английском языке по сравнению с учащимися более младших возрастных групп.  Наряду с развитием языковых компетенций, таких как устная речь, понимание на  слух, проводится качественная подготовка к ЕГЭ и международным экзаменам. </p>
    <ul>
      <li>Как проходит обучение </li>
    </ul>
    <p>На занятиях студенты читают и анализируют сложные тексты,  слушают аудио с нормальной скоростью речи, изучают фразовые глаголы, словообразование.<br>
      Преподавание происходит на очень высоком уровне, близком к уровню  носителей языка.</p>
    <ul>
      <li>Книги курса</li>
    </ul>
    <p> Choices Pre-intermediate,  Eyes Open 3, Perspectives Intermediate/Upper-intermediate, Outcomes Advanced</p>
    <ul>
      <li>Длительность обучения, расписание </li>
    </ul>
    <p>Длительность обучения: три уровня, на прохождение каждого  уровня уходит более одного учебного года, не менее 212 часов. Занятия проходят  два раза в неделю по 90 минут. Расписание занятий с16 до 19.30.</p>
    <ul>
      <li>Результаты обучения:</li>
    </ul>
    <p>В результате продуктивной работы по окончании продвинутого  уровня (15-17 лет) подростки научатся мыслить критически, приобретают языковые  навыки на когнитивном уровне, таким образом, английский для них теперь  становится&nbsp; одним из способов получения более широкого спектра информации  по той или иной теме. Благодаря более высокому уровню мотивированности учеников  в этом возрасте они с удовольствием сами начинают искать возможности общаться  на языке, и смотрят англоязычные ресурсы. Ну, и, конечно же, одним из главных  результатов этой части обучения является успешная подготовка к экзаменам.</p>
    <ul>
      <li>Listening: полное понимание  прослушанного; извлечение запрашиваемой информации</li>
      <li>Speaking: общение по темам: Личность,  Образование, Карьера, Имидж, Инновации, Среда обитания, Знаменательные события,  Вкус, Дома, Герои, Вдохновение и др.  Кроме  того, умение выражать согласие, несогласие, жалобы, извинение, говорить о  планах, предположениях, высказывать просьбы, сожаления, мнения, выступать с  презентацией.</li>
      <li>Reading: чтение с полным пониманием  прочитанного, постановка проблемных вопросов к текстам и их обсуждение. Чтение  с извлечением необходимой информации и ее анализом: поисковое, просмотровое,  рефлексирующее.</li>
      <li>Writing: умение написать письмо, e-mail, приглашение, рассказ, эссе,  составить план; умение писать без ошибок.</li>
      <li>Grammar: все времена активного и  пассивного залога, модальные глаголы для рассуждений в настоящем и прошедшем  временах, косвенная речь, условные предложения, стилистическая инверсия и  многое другое.</li>
    </ul>
  </div>
</div>
<footer class="footer container-fluid">
    <div class="row">
      <div class="col-12">
        <%= _.template(require('./../includes/footer.html').default)(data) %>
      </div>
    </div>
  </footer>
  </body>
  </html>