<% var data = { title: "Языковая школа Юнити | Официальный сайт", author:
"mathetes" }; %> <%=
_.template(require('./../includes/header2.html').default)(data) %>
<div class="container-fluid content-wrapper">
  <div class="row">
    <h2>Программа для детей 7-9 лет</h2>
    <ul>
        <li>Особенности  обучения</li>
    </ul>
    <p>Раннее обучение иностранному языку оказывает  самое благоприятное воздействие на развитие детей, их познавательных и языковых  способностей, развивает мышление, память, воображение, эмоции. <br>
    Особенностью обучения детей раннего  школьного возраста является игровая деятельность, которая создает прекрасные  естественные условия для овладения языком, позволяет сделать учебный процесс  привлекательным и интересным, заставляет учащихся волноваться и переживать. </p>
    <ul>
    <li>Как  проходит обучение</li>
    </ul>
    <p>Ученики много слушают, поют, играют,  разыгрывают истории, делают поделки. Большое внимание уделяется работе над  произношением: скороговорки, рифмовки.  Дети  учатся описывать предметы, разыгрывают диалоги, сказки. </p>
    <ul>
    <li>Книги  курса</li>
    </ul>
    <p>New English  Adventuer starter B и Super  Minds (Starter, 1,2)</p>
    <ul>
      <li>Длительность  обучения, расписание</li>
    </ul>
    <p>Длительность обучения охватывает 3 ступени.  На освоение каждой ступени уходит учебный год. Занятия 2 раза в неделю по 60  минут. Расписание составляется с учетом смены в основной школе и других  дополнительных занятий. С 8.30 до 12.45 или с 15.30 до 18.45 </p>
    <ul>
      <li>Результаты  обучения</li>
    </ul>
    <p>В  результате продуктивной работы по окончании базового уровня (7-9 лет) у детей  оттачивается память в процессе постоянной тренировки их языковых навыков, а  также развиваются мыслительные способности (в т.ч. закладывается способность  мыслить на иностранном языке).</p>
    <ul>
    <li>Speaking: умение расспрашивать  собеседника и отвечать на его вопросы, рассказывать о себе, своей семье, друзьях,  увлечениях в простых предложениях.</li>
    <li>Лексические  темы: Приветствия, Игрушки, Животные, Еда, Любимые герои, Дом, Одежда,  Праздники, Места в городе, Транспорт, Школа, Работа по дому, Время</li>
    <li>Listening:умение  воспринимать на слух несложные аудио и видеотексты,  воспринимать на слух и понимать речь учителя и одноклассников</li>
    <li>Reading: умение читать  несложные тексты и понимать с использованием догадки, перевода, а также, с  выборочным пониманием нужной информации</li>
    <li>Writing:умение  писать небольшие сообщения, рассказы,  поздравления</li>
    <li>Grammar: глагол to be, вопросы, have got/has got; простое  настоящее время, оборот there is/are; can/cannot, предлоги места,  притяжательные прилагательные, указательные местоимения, простое прошедшее  время</li>
    </ul>
</div>
</div>
<footer class="footer container-fluid">
    <div class="row">
      <div class="col-12">
        <%= _.template(require('./../includes/footer.html').default)(data) %>
      </div>
    </div>
  </footer>
  </body>
  </html>