/* Faq */

.faq {
  margin: 20px auto;
}

.faq-item {
  margin-bottom: 5px;
  border: 1px solid #00128d;
}

.faq-title {
  display: block;
  padding: 10px 15px;
  position: relative;
  color: #00128d;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.faq-title:after {
  content: "";
  display: block;

  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #fff transparent transparent transparent;

  position: absolute;
  top: 50%;
  right: 15px;

  transform: translateY(-50%);
}

.faq-title:hover {
  background-color: #00128d;
  color: #fff;
}

.faq-input {
  width: 0;
  height: 0;

  -webkit-appearance: none;
  appearance: none;

  position: absolute;
}

.faq-input:checked ~ .faq-title {
  background-color: #fff;
  color: #00128d;
  font-weight: 700;
}

.faq-input:checked ~ .faq-title:after {
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #fff transparent;
}

.faq-input:checked ~ .faq-text {
  display: block;
}

.faq-text {
  display: none;
  padding: 10px 15px;

  color: #000;
  font-size: 14px;
}
