// =================================================================
// PROGRAM CARDS CSS
// =================================================================
.card-links {
  text-decoration: none;
}
.card-block {
  margin: 20px 0;
}
.programs-card-body {
  padding: 2rem 6rem;
  height: 250px;
  // background-image: url(http://lorempixel.com/454/250/people);
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-attachment: fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // opacity: 0.3;
}
