// =================================================================
// HEADER CSS
// =================================================================

.header {
  margin: 0 auto;
}
.slogan-block {
  text-align: center;
  font-size: 1.5rem;
}
.slogan {
  font-size: 2.2rem;
  font-weight: 700;
  width: 80%;
  margin: 15px auto 30px;
}
.unity-address {
  line-height: 0.1;
}
