// =================================================================
// HEADER CSS
// =================================================================

.header {
  margin: 0 auto;
  // background: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.slogan-block {
  text-align: center;
  font-size: 1.1rem;
}
.slogan {
  width: 80%;
  margin: 15px auto 30px;
}

.slogan-text {
  font-style: italic;
  font-size: 2.5rem;
  font-family: "HoneyScriptCYR-Light";
}

.start-year {
}

.unity-address {
  line-height: 0.1;
}

.phone-tooltip {
  font-size: 1.3em;
}

.eye30 {
  display: block;
  margin-left: auto;
  margin-top: -40px;
}

.bviButton {
  min-height: 67px;
  text-align: left;
  margin-top: 10px;
}
