@media (min-width: 375px) and (max-width: 767px) {
    #menu {
    width: 180px;
    margin: -100px 0 0 -20px;
    padding: 100px 0px 0px;
    background-color: #00128d;
    }
    .feedback-position {
        width: 66%;
    }
    .step-cover {
        height: 210px;
    }
}