$font-stack: -apple-system, BlinkMacSystemFont, "Helvetica-Regular", "Open Sans",
  sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "./wrapper";
@import "./nav";
@import "./phone";
@import "./sidebar";
@import "./footer";
@import "./header";
@import "./cardsprogram";
// @import "./media1200";
// @import "./mediamin992.scss";
// @import "./mediamax991.scss";
// @import "./media992";
// @import "./media768";
// @import "./media480";

@font-face {
  font-family: "HoneyScriptCYR-Light";
  font-style: normal;
  src: url(../fonts/HoneyScriptCYR-Light.otf);
}
* {
  // background-color: #999;
  // border: 1px solid #000;
}
