body {
  font-family: $font-stack;
  margin-top: 25px;
  background-image: url(../img/unity-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #logo {
    width: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-fluid {
  width: 960px !important;
}
